extends layout

block head
	link(href='/css/question.css', rel='stylesheet')
	script(type='text/javascript' src='/js/test.js')

block content
	article(id='main-wrapper')
		h1 Examen
		
		section#results
			div#results-content
				h1 Resultats
				p#questionProgress

		section#question
			h1#questionTitle
			label Domaine : 
			span#domain domain
			p#askedQuestion question
				div#answer
					div(draggable='true', index='0').possibleAnswer#answer1
					br
					div(draggable='true', index='1').possibleAnswer#answer2
					br
					div(draggable='true', index='2').possibleAnswer#answer3
					br
				p Zone réponse
				div#answerbox
			section#quiz-navig
				div#prev.quiz-navig-btn
					a
						div Abandonner 
				div#next.quiz-navig-btn
					a
						div Suivant
				div#closer
		section#statistics
			div#statistics-content
				h1 Statistiques
				h1 Tests passés
				table
					tr
						td Total
						td#stats-quicktests
				h1 Examens passés
				table
					tr
						td CSS
						td#stats-exams-css
					tr
						td HTML
						td#stats-exams-html
					tr
						td JS
						td#stats-exams-js
					tr.total
						td Moyenne totale
						td#stats-exams-average